<!-- Alejandro -->
<div class="row mx-5">
    <div class="col">
        <h2>Contact</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam commodi sequi ratione provident pariatur
            harum iure veniam veritatis error molestiae dolores aliquid animi iste laudantium voluptas quaerat optio,
            libero voluptate.</p>
        <div class="d-flex w-50 mx-auto bg-light border rounded border-secondarys p-3">
            <div class="container">
                <div class="row m-0">
                    <div class="col-3 d-flex justify-content-end">
                        <label for="#email" class="fw-bold text-end form-label">Email address</label>
                    </div>
                    <div class="col-9 p-0">
                        <input type="email" class="form-control d-block" id="email"
                        placeholder="Your email" required>
                    </div>
                </div>
                <div class="row mt-2 m-0">
                    <div class="col-3 d-flex justify-content-end">
                        <label for="message" class="fw-bold text-end form-label">Your message</label>
                    </div>
                    <div class="col-9 p-0">
                        <textarea class="form-control" id="message" rows="3" placeholder="Please enter your message here..." required></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-end">
                        <a class="btn btn-primary mt-2" type="button">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

