<!-- your html code here -->
<div class="card">
    <div class="row no-gutters">
      <div class="col-md-4 card-body d-flex flex-column align-items-center justify-content-center" style="width: 480px; height: 480px">
        <img src="https://img.freepik.com/vector-premium/vista-superior-mano-escribiendo-teclado-portatil-aislado-sobre-fondo-blanco_78072-960.jpg" class="rounded-circle img-fluid object-fit-cover" alt="Imagen circular">      
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title mt-5" style="font-size: 100px;">Título de la tarjeta</h1><p>Hello, GusCastle25</p>
          <p class="card-text">Contenido de la tarjeta que se encuentra al lado derecho de la imagen.</p>
        </div>
      </div>
    </div>
  </div>
<p>Hello, I'm the services section and I was loaded using ajax from templates/services.html</p>